html{
  background-color: lightpink;
  color: hotpink;
}

body{
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 15px;
}

  h1{
    background-color: green;
    color: lightpink;
    font-weight: normal;
    font-size: 4rem;
    line-height: 1;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    margin: 0;
    padding-top: 40px;
  }

  h2{
    color: #392584;
    font-weight: normal;
    font-size: 2rem;
    font-family: 'Henny Penny', cursive;
    text-align: left;
    line-height: 1;
    border-top: solid 3px darkgreen;
    margin-top: 1em;
  }

  h3{
    color: #392584;
    font-weight: normal;
    font-size: 2rem;
    font-family: 'Henny Penny', cursive;
    text-align: left;
    line-height: 1;

  }

  h4{
    color: darkgreen;
    font-family: Georgia, sans serif;
    font-style: italic;
    font-weight: normal;

  }

a:hover{
  color: lightpink;
}
  nav a{
    display: inline-block;
    background-color: lightgreen;
    color: hotpink;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom:10px;
  }

  nav{
    text-align: center;
  }

  header{
    background-color: green;

  }

nav li{
  display: inline;
}

ol{
  padding: 0;
}

p{
  font-style: normal;
  font-size: 1rem;
  text-align:left; /* left, center, right, justify*/
  font-family: Georgia,serif;
  color: darkgreen;
}

.ed{
  font-weight: bold;
}

.jbr{
  font-weight: bold;
}

.quote{
  fontweight: bold;
  text-align: center;

  display: block;
  font-size: 2em;
}

blockquote{
  font-family: Georgia, serif;
  font-style: italic;
}

.eb{
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  display: block;
  padding: 0.5em;

}

main{
  padding: 0.5em;
}

figure{
  border: 5px;
  border-style: solid;
  border-radius: 7px;
  padding: 1em;
  margin: 1em;
  color: coral;
  background-color:#e5ef93;
}



img{
  width: 100%;
}

figcaption{
  color: #392584;
  text-align: center;
  font-style: italic;
  font-family: Georgia, sans serif;
}

.imgtxt{
  text-color: blue;
}

dl{
  font-family: Georgia, serif;
  color: darkgreen;
}

dt{
  font-weight: bold;
}

hr{
  margin-top: 1em;
  margin-bottom: 1em;
}

.ni{
  font-size: 20px;
  font-family: 'Henny Penny', cursive;
  text-align: left;
  line-height: 1;
}

footer{
  background-color: green;
  color: lightpink;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  font-family: Georgia, sans serif;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;

}

a{
  color:coral;
  font-size: 12px;
}
